<div class="about-view">
  <h2>Chuck Norris has counted to infinity. Twice.</h2>


  <ul>
    <li>When Alexander Bell invented the telephone he had 3 missed calls from Chuck Norris</li>
    <li>Fear of spiders is arachnophobia, fear of tight spaces is claustrophobia, fear of Chuck Norris is called Logic</li>
    <li>There used to be a street named after Chuck Norris, but it was changed because nobody crosses Chuck Norris and lives.</li>
    <li>Chuck Norris died 20 years ago, Death just hasn't built up the courage to tell him yet.</li>
    <li>Chuck Norris has already been to Mars; that's why there are no signs of life.</li>
    <li>Chuck Norris doesn't call the wrong number. You answer the wrong phone.</li>
    <li>Chuck Norris has a grizzly bear carpet in his room. The bear isn't dead it is just afraid to move.</li>
    <li>Chuck Norris is the reason why Waldo is hiding.</li>
    <li>Death once had a near-Chuck Norris experience</li>
    <li>When the Boogeyman goes to sleep every night, he checks his closet for Chuck Norris.</li>

  </ul>
</div>
