<div class="instagram-tag-view">
  <ul data-ng-repeat="item in instagramCtrl.igData"
      data-ng-class-even="'even'"
      data-ng-class-odd="'odd'">

    <li>
      <a data-ng-href="{{ item.link }}" target="_blank">
        <img data-ng-src="{{ item.images.low_resolution.url }}" alt="">
      </a>
    </li>



      <li class="user">
        <h2>{{ item.user.username }}</h2>
        <img data-ng-src="{{ item.user.profile_picture }}" alt=""/>
        <p>
          {{ item.likes.count }} Likes
        </p>
      </li>

    <li>

    </li>

    <div class="image-content">
      <li>
        <h3>
          {{ item.caption.text }}
        </h3>
      </li>


      <li class="tag">
        <em>
          <span data-ng-repeat="tag in item.tags">#{{ tag }}</span>
        </em>
      </li>

    </div>

  </ul>
</div>
